// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$alert-color: #f07190;
$indicate-color: #7c868a;
$label-color: #969696;
$sub-title-color: #8a8888;
$prime-green-color: #49c7b5;
$prime-yellow-color: #ffcf75;

.alert-header {
  color: $alert-color;
  font-weight: bold;
  font-size: 36px;
}

.title-text {
  color: $sub-title-color;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

.side-margin-div {
  margin: auto 2.5%;
  padding: 2.5% 2.5%;
}


.menuBg{
    background-color: $prime-green-color;
}

.h3{
    font-size: 12px;
}

.item{
	overflow: inherit;
	text-overflow:inherit;
	white-space: wrap;
}

.indicate-text {
  font-style: italic;
  font-weight: bold;
  font-size: small;
  color: $indicate-color;
}

.alert-button {
  background-color: $alert-color;
}

.alert-color {
  color: $alert-color;
}


.label-text-color {
  color: $label-color;
}

.yellow-background {
  background-color: $prime-yellow-color;

}

.scroll {
  overflow-y:scroll;
}

.static-bottom{
  position : fixed;
  width: 100%;
  bottom: 0;
  background-color: white;
}
