.opioid-color {
  color: #ccaed1;

}


.naloxone-color {
  color: #31bbde;
}


#carrierp {
  h5 {
    font-weight: bold;
    font-size: 28px;
  }

  div {
    margin: 25px auto;
  }

  p {
    font-size: 16px;
    color: #454545;
  }
}
