.bgColor {
    background-color: #f07190;
}

.textColor{
    background-color: black;
}

.textSize13{
    font-size: 13px;
    padding: 0;
}

.textSize15{
    font-size:15px;
}

.textSize10{
    font-size:10px;
}

.textSize24{
    font-size:48px;
    font-weight: bold;
}

