.button-style {
  margin: 8px 0px;
  float: right;
  padding: 5px;
}

.item-ios {
  padding-left: 0px;
}

.item-inner ion-label {
  margin: 0px;
}

ion-col {
  margin: auto;
}

.title {
  font-size: 16px !important;
  font-weight: bold !important;
  color: #363333;
}

