.button-style {
  margin: 5% 0px;
  float: right;
  padding: 5%;
}

.item-ios {
  padding-left: 0px;
}

.item-inner ion-label {
  margin: 0px;
}

ion-col {
  margin: auto;
  white-space: normal;
}

.title {
  font-size: 16px !important;
  font-weight: bold !important;
  color: #363333;
}

.static-bottom {
  h5 {
    margin-bottom: 0px;
  }
}

#naloxone-locator-list {
  position: absolute;
  top: 0px;
  bottom:0px;
  left:0px;
  right:0px;
}

